In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
%cd /content/drive/My Drive/Activity_Recognition/training

/content/drive/My Drive/Activity_Recognition/training

In [ ]:
import json
import pandas as pd
import numpy as np
import cv2
import os

In [ ]:
# 파일 가져오기
import os
image_dir = [x for x in os.listdir('images')]

In [ ]:
image_dir

['TS_헬스_요가',
 'TS_캠핑용품',
 'TS_의약품_의료용품',
 'TS_당구장',
 'TS_주방_다이닝룸',
 'TS_미용도구']

In [ ]:
label_dir = [x for x in os.listdir('labels')]

In [ ]:
label_dir

['TL_헬스_요가',
 'TL_당구장',
 'TL_악기',
 'TL_주방_다이닝룸',
 'TL_육아용품',
 'TL_미술용품',
 'TL_캠핑용품',
 'TL_놀이터_공원',
 'TL_미용도구',
 'TL_의약품_의료용품',
 'TL_운동기구(구기)']

In [ ]:
#나중에 전체 데이터 올라오면 삭제하기!!
label_dir = image_dir

for i in range(len(label_dir)):
  label_dir[i] = label_dir[i].replace("TS", "TL")

label_dir

['TL_헬스_요가',
 'TL_캠핑용품',
 'TL_의약품_의료용품',
 'TL_당구장',
 'TL_주방_다이닝룸',
 'TL_미용도구']

In [ ]:
label_dir = ['TL_미용도구']

In [ ]:
def read_all_file(path):
    output = os.listdir(path)
    file_list = []
    for i in output:
        if os.path.isdir(path+"/"+i): 
            file_list.extend(read_all_file(path+"/"+i)) 
        elif os.path.isfile(path+"/"+i):
            file_list.append(path+"/"+i)

    return file_list

In [ ]:
for d in label_dir:
  name = []
  label = []
  x_min = []
  x_max = []
  y_min = []
  y_max = []
  file_name= os.path.join('labels', d)
  filelist= []
  output = os.listdir(file_name)
  for o in output:
    if os.path.isfile(file_name+"/"+o):
      filelist.append(file_name+"/"+o)
  for i in range(len(filelist)):
    with open(filelist[i], 'r') as f:
      try:
        data = json.load(f)
        img = filelist[i].replace('labels',"images")
        img = img.replace('TL', "TS")
        img = img.replace('json','jpg')
        if os.path.isfile(img):
          img = img.replace("images/", "")
          for i in range(len(data['annotations'])):
              name.append(img)
              print(img, end = " ")
              label.append(data['annotations'][i]['category_id'])
              print(data['annotations'][i]['category_id'], end = " ")
              k = data['annotations'][i]['bbox']
              print(k)
              x_min.append(int(k[0]))
              y_min.append(int(k[1]))
              x_max.append(int(k[0])+int(k[2]))
              y_max.append(int(k[1])+int(k[3]))
        else:
          print(img, "없음")
          pass
      except:
        pass

  data = {'image':name, 'xmin':x_min, 'ymin': y_min, 'xmax':x_max, 'ymax':y_max, 'label':label}
  df = pd.DataFrame(data)
  fn = "train_bbox"+str(d)+".csv"
  df.to_csv(fn)

OSError: ignored

----------------여기까지가 CSV로 만드는 파일 -> 카테고리별로 돌려서 csv파일로 저장함---------------------------

In [ ]:
import pandas as pd
data = {'image':name, 'xmin':x_min, 'ymin': y_min, 'xmax':x_max, 'ymax':y_max, 'label':label}
df = pd.DataFrame(data)
df.to_csv('train_bbox_6.csv')

In [ ]:
lis = [x for x in os.listdir() if x[:5]=="trans"]

In [ ]:
lis

['transformed_bbox480.csv',
 'transformed_bbox513.csv',
 'transformed_bbox479.csv',
 'transformed_bbox515.csv',
 'transformed_bbox486.csv',
 'transformed_bbox490.csv',
 'transformed_bbox476.csv',
 'transformed_bbox492.csv',
 'transformed_bbox295.csv',
 'transformed_bbox288.csv',
 'transformed_bbox294.csv',
 'transformed_bbox482.csv',
 'transformed_bbox285.csv',
 'transformed_bbox530.csv',
 'transformed_bbox489.csv',
 'transformed_bbox477.csv',
 'transformed_bbox524.csv',
 'transformed_bbox491.csv',
 'transformed_bbox297.csv',
 'transformed_bbox292.csv',
 'transformed_bbox289.csv',
 'transformed_bbox520.csv',
 'transformed_bbox563.csv',
 'transformed_bbox478.csv',
 'transformed_bbox286.csv',
 'transformed_bbox474.csv']

In [ ]:
label_5 = pd.read_csv('training_labels_5.csv')
for i in lis:
  transformed = pd.read_csv(i)
  label_5 = pd.concat([label_5, transformed], ignore_index=True)

In [ ]:
health_yoga = pd.read_csv('train_bboxTL_헬스_요가.csv')
camping = pd.read_csv('train_bboxTL_캠핑용품.csv')
dining = pd.read_csv("train_bboxTL_주방_다이닝룸.csv")
med = pd.read_csv("train_bboxTL_의약품_의료용품.csv")
pool = pd.read_csv("train_bboxTL_당구장.csv")

In [ ]:
#result_5 = pd.concat([health_yoga ,camping, dining, med, pool], ignore_index=True)
label_5 = label_5.drop('Unnamed: 0', axis = 'columns')
label_5

,image,xmin,ymin,xmax,ymax,label
0,TS_헬스_요가/1477113_605.jpg,1682.000000,1182.000000,1815.000000,1228.000000,291
1,TS_헬스_요가/2072307_605.jpg,358.000000,166.000000,434.000000,265.000000,298
2,TS_헬스_요가/1852047_605.jpg,1485.000000,1201.000000,1655.000000,1352.000000,285
3,TS_헬스_요가/1681012_605.jpg,1331.000000,985.000000,1448.000000,1120.000000,292
4,TS_헬스_요가/1420024_605.jpg,640.000000,1397.000000,780.000000,1457.000000,291
...,...,...,...,...,...,...
81680,TS_캠핑용품/2123399_616_transformed.jpg,1011.349693,257.560026,1234.662577,1419.987021,474
81681,TS_캠핑용품/2125714_616_transformed.jpg,183.398184,493.238434,384.954604,1396.014235,474
81682,TS_캠핑용품/2123510_616_transformed.jpg,2507.692308,1189.852008,2764.835165,1614.587738,474
81683,TS_캠핑용품/2125535_616_transformed.jpg,1442.424242,212.837838,2369.230769,867.567568,474
81684,TS_캠핑용품/2125748_616_transformed.jpg,1856.842105,866.993464,2544.561404,1093.464052,474

In [ ]:
# 제거할 카테고리 제거하기
dropnum = [296,375,396,378,379,565,566,488,493,494,495,633,644,635,660,651,656,662,229,240,236,244,528,519]
for i in dropnum:
  idx = result_5[result_5['label']==i].index
  result_5 = result_5.drop(idx)

In [ ]:
#합칠 데잉터 합치기
result_5.loc[(result_5['label'] == 556), 'label'] = 551
result_5.loc[(result_5['label'] == 375), 'label'] = 395
result_5.loc[(result_5['label'] == 561), 'label'] = 560
result_5.loc[(result_5['label'] == 485), 'label'] = 475
con1 = [642, 623]
for c in con1:
  result_5.loc[(result_5['label'] == c), 'label'] = 632
result_5.loc[(result_5['label'] == 643), 'label'] = 638
result_5.loc[(result_5['label'] == 626), 'label'] = 640
result_5.loc[(result_5['label'] == 645), 'label'] = 631
con2 = [641, 647, 646]
for c in con2:
  result_5.loc[(result_5['label'] == c), 'label'] = 636
con3 = [657, 648, 653]
for c in con3:
  result_5.loc[(result_5['label'] == c), 'label'] = 652
result_5.loc[(result_5['label'] == 654), 'label'] = 649
result_5.loc[(result_5['label'] == 538), 'label'] = 533

In [ ]:
label_5['label'].value_counts(dropna = False)

560    3688
517    3585
511    3400
527    3309
521    2865
512    2277
516    2225
526    2045
475    2008
525    1772
490    1699
518    1682
476    1666
562    1610
288    1603
484    1602
530    1593
294    1554
522    1487
482    1464
520    1464
492    1463
524    1446
295    1423
483    1410
489    1407
487    1375
291    1350
477    1310
285    1308
523    1296
297    1287
491    1279
287    1198
293    1194
514    1181
292    1181
563    1174
290    1165
529    1150
481    1148
298    1098
564    1094
286    1072
289    1044
478    1034
474    1000
480    1000
513    1000
515    1000
479    1000
486    1000
Name: label, dtype: int64

In [ ]:
result_5['label'].value_counts(dropna = False, normalize = True)

560    0.054085
517    0.052574
511    0.049861
527    0.048527
521    0.042016
         ...
665    0.000103
634    0.000103
637    0.000059
661    0.000059
627    0.000044
Name: label, Length: 78, dtype: float64

In [ ]:
#100개 미만 데이터 삭제하기
con = result_5['label'].value_counts(dropna = False).loc[result_5['label'].value_counts(dropna = False)<100].index
for c in con:
  idx = result_5[result_5['label']==c].index
  result_5 = result_5.drop(idx)

In [ ]:
result_5['label'].value_counts()

560    3688
517    3585
511    3400
527    3309
521    2865
512    2277
516    2225
526    2045
475    2008
525    1772
518    1682
562    1610
484    1602
522    1487
483    1410
487    1375
291    1350
523    1296
287    1198
293    1194
514    1181
290    1165
529    1150
481    1148
298    1098
564    1094
474     992
480     985
513     982
479     967
515     929
486     891
490     883
476     875
492     865
295     862
288     839
294     809
482     806
285     803
530     799
489     791
477     786
524     750
491     680
297     670
292     641
289     533
520     490
563     310
478     290
286     216
Name: label, dtype: int64

In [ ]:
label_5.to_csv("training_labels_5_all.csv")